In [1]:
import numpy as np
import pandas as pd
from os import listdir

In [2]:
save='test'
path='ECE5242Proj2-test'

In [3]:
classes=['wave', 'inf', 'eight', 'circle', 'beat3', 'beat4']
features=['time','Ax','Ay','Az','Wx','Wy','Wz']

In [4]:
centers=pd.read_csv('train_centers.csv')
display(centers.head())

          Ax        Ay        Az        Wx        Wy        Wz
0  -7.610235 -3.007808  3.427500 -0.340480  0.091003 -0.234542
1   7.703702  1.888134  9.910111  3.166512  0.403243  1.079956
2  -6.241958  2.581327  9.997086  3.312292 -2.269929 -2.058037
3 -10.394480  3.622676 -0.072113 -0.862464 -1.438293 -0.994525
4  -5.413195  3.936122  4.721623  0.396743 -0.347211  0.117283

In [5]:
listdir(path)

['test1.txt',
 'test2.txt',
 'test3.txt',
 'test4.txt',
 'test5.txt',
 'test6.txt',
 'test7.txt',
 'test8.txt']

In [6]:
ts_data={}

for i in listdir(path):
    
    df=pd.read_csv((path+'/'+i),header=None,sep='\t', lineterminator='\n')
    display(df)
    #i=classes[np.where([x in i for x in classes])[0][0]]
    df=df.rename(columns=dict(enumerate(features)))
    df=df.drop(['time'],axis=1)
    
    if i in ts_data:
        ts_data[i]=ts_data[i].append(df,ignore_index=True)
    else:
        ts_data[i]=df

        0         1         2         3         4         5         6
0     284  9.277115 -0.085312  5.106064  0.358337  0.081268 -0.222961
1     289  9.258072 -0.130539  5.182236  0.374359  0.098358 -0.212814
2     294  9.246170 -0.085312  5.251266  0.388245  0.114914 -0.203735
3     299  9.196182 -0.068649  5.341721  0.397324  0.136276 -0.189850
4     304  9.253311 -0.025803  5.494064  0.394653  0.154434 -0.179703
..    ...       ...       ...       ...       ...       ...       ...
372  2157  0.050797  4.751602  1.994919  2.598175  0.841232 -1.741287
373  2162 -0.082504  4.751602  1.668808  2.642502  0.703445 -1.662247
374  2167 -0.289597  4.796829  1.392685  2.703918  0.591293 -1.585342
375  2172 -0.622849  4.887283  1.247482  2.770676  0.509583 -1.519119
376  2177 -0.913254  5.096756  1.259384  2.833160  0.460449 -1.465179

[377 rows x 7 columns]

        0         1         2         3         4         5         6
0     288  1.790848  6.398819  6.736618 -0.002686  0.062576 -0.028030
1     293  1.836075  6.401199  6.719955 -0.007492  0.057770 -0.025894
2     298  1.788467  6.375015  6.727097 -0.006958  0.057770 -0.017349
3     303  1.778946  6.360733  6.674728 -0.006958  0.053497 -0.007202
4     308  1.817032  6.322647  6.658066 -0.001083  0.051361 -0.003464
..    ...       ...       ...       ...       ...       ...       ...
866  4651  2.788223  1.688065 -1.999344 -0.247818 -0.074677 -0.629379
867  4655  2.640640  1.569046 -2.094559 -0.349823 -0.087494 -0.648605
868  4661  2.595413  1.554764 -1.944595 -0.444885 -0.097107 -0.668365
869  4666  2.504959  1.502396 -1.711319 -0.544220 -0.104050 -0.683319
870  4670  2.431168  1.528580 -1.639908 -0.645157 -0.099243 -0.700409

[871 rows x 7 columns]

        0          1         2          3         4         5         6
0     287   5.930313  3.942276   7.710190  0.099319 -0.064529  0.028580
1     292   5.827957  3.949417   7.755417  0.084900 -0.063461  0.031784
2     297   5.761307  4.004166   7.812546  0.068878 -0.059723  0.032318
3     302   5.739883  4.008926   7.748276  0.044846 -0.063461  0.029648
4     316   5.628006  3.997025   7.684006  0.024017 -0.082153  0.032318
..    ...        ...       ...        ...       ...       ...       ...
843  4536  10.598220 -4.510422  11.644940 -1.571213 -3.182358 -5.988113
844  4537  10.238790 -4.265244  11.625900 -1.383759 -3.146042 -5.865280
845  4548   9.948380 -4.012924  11.311690 -1.211792 -3.122543 -5.753128
846  4548   9.588943 -3.741562  10.880840 -1.042496 -3.112930 -5.651657
847  4556   9.315201 -3.548752  10.430950 -0.865189 -3.104919 -5.553925

[848 rows x 7 columns]

        0         1         2         3         4         5         6
0     286  2.288345  8.857742  2.735214  0.054993  0.202499 -0.068085
1     291  2.383560  8.864883  2.787582  0.066208  0.214249 -0.075562
2     296  2.433548  8.898209  2.801865  0.072617  0.223328 -0.073959
3     301  2.443069  8.955338  2.701889  0.080093  0.220123 -0.078766
4     306  2.524002  8.931534  2.725693  0.085968  0.205704 -0.078766
..    ...       ...       ...       ...       ...       ...       ...
815  4390  1.988419 -0.313828 -1.637527 -0.698029  0.907990  0.164764
816  4397  1.809891 -0.520920 -1.425674 -0.786148  0.950714  0.153015
817  4401  1.550430 -0.694687 -1.306656 -0.881744  0.983826  0.133789
818  4407  1.390945 -0.837509 -1.306656 -0.985352  1.017471  0.109756
819  4411  1.181473 -0.961288 -1.344742 -1.094299  1.044708  0.083054

[820 rows x 7 columns]

        0          1          2         3         4         5         6
0     285  -4.714706   4.696854  6.067734 -0.121246 -0.180420  0.064362
1     290  -4.676620   4.706375  6.108200 -0.114304 -0.183624  0.065964
2     295  -4.690903   4.720657  6.165329 -0.107361 -0.186829  0.067032
3     300  -4.683762   4.734940  6.170090 -0.099350 -0.185226  0.063828
4     306  -4.612350   4.715897  6.262924 -0.097748 -0.187363  0.064362
..    ...        ...        ...       ...       ...       ...       ...
684  3730 -22.146160 -22.029950 -8.035965 -6.335541 -0.624222 -2.585098
685  3745 -22.393720 -21.894270 -7.678909 -6.608444 -1.054672 -2.167999
686  3746 -22.655560 -21.913320 -7.312332 -6.767593 -1.301407 -1.988022
687  3747 -22.879320 -22.008530 -7.045731 -6.941162 -1.552948 -1.820328
688  3755 -23.095930 -21.994250 -6.526810 -7.129150 -1.796478 -1.672928

[689 rows x 7 columns]

        0         1          2          3         4         5         6
0     287  3.668961   1.440506   9.126511  0.060333 -0.069870  0.020035
1     292  3.673721   1.464310   9.102707  0.060867 -0.060791  0.022705
2     297  3.697525   1.473831   9.121750  0.061401 -0.053848  0.021103
3     302  3.683243   1.526199   9.119370  0.054459 -0.053314  0.024841
4     308  3.666580   1.547623   9.155075  0.047516 -0.049576  0.026978
..    ...       ...        ...        ...       ...       ...       ...
873  4683  5.130508 -13.282090  15.165510 -5.195862 -0.064529 -4.037201
874  4688  4.954361 -13.236860  15.270250 -4.999863 -0.121140 -4.212906
875  4693  5.111465 -13.791490  15.139330 -4.787308 -0.168137 -4.394485
876  4698  5.516129 -13.898610  14.625170 -4.560333 -0.216736 -4.572327
877  4703  5.506607 -13.834330  13.991990 -4.301315 -0.264267 -4.725601

[878 rows x 7 columns]

        0         1          2         3         4         5         6
0     285  5.054337   1.709488  8.995590 -0.001083  0.010773  0.015228
1     288  5.404251   1.200089  8.419540 -0.017639  0.038544 -0.005066
2     293  5.423294   0.921585  8.236252 -0.024582  0.050293 -0.008804
3     299  5.344742   1.059647  8.648056 -0.016571  0.057236 -0.000793
4     304  5.385208   1.150101  8.469528 -0.018707  0.067383  0.010956
..    ...       ...        ...       ...       ...       ...       ...
757  4095 -1.574997 -11.492050  0.233444  5.133881  0.225998 -2.434494
758  4100 -1.434555 -11.675340  0.666672  4.832138  0.388885 -2.705795
759  4105 -1.356003 -12.010970  1.076096  4.516510  0.572067 -2.977097
760  4110 -0.977524 -12.358500  1.354599  4.185394  0.764328 -3.244659
761  4116 -0.522873 -12.822680  1.426010  3.850540  0.958725 -3.498337

[762 rows x 7 columns]

        0         1         2         3         4         5         6
0     283  2.171707  7.208145  6.034409  0.053925 -0.031418  0.081985
1     287  2.147903  7.179581  6.079636  0.059265 -0.057587  0.091064
2     292  2.105057  7.224808  6.058212  0.063004 -0.077347  0.096405
3     297  2.069351  7.227188  5.953476  0.067276 -0.091766  0.100677
4     302  2.057449  7.267654  6.005844  0.077957 -0.102448  0.099075
..    ...       ...       ...       ...       ...       ...       ...
830  4461  3.340469  1.842789 -1.201920  0.943130 -0.109390 -0.301468
831  4466  3.271439  1.890396 -1.430435  0.739120 -0.106186 -0.315353
832  4472  3.197647  1.823746 -1.618484  0.645660 -0.116333 -0.318558
833  4478  3.159561  1.802322 -1.747025  0.550598 -0.138229 -0.322830
834  4483  3.140518  1.752335 -1.944595  0.460876 -0.159058 -0.321228

[835 rows x 7 columns]

In [7]:
ts_data

{'test1.txt':            Ax        Ay        Az        Wx        Wy        Wz
 0    9.277115 -0.085312  5.106064  0.358337  0.081268 -0.222961
 1    9.258072 -0.130539  5.182236  0.374359  0.098358 -0.212814
 2    9.246170 -0.085312  5.251266  0.388245  0.114914 -0.203735
 3    9.196182 -0.068649  5.341721  0.397324  0.136276 -0.189850
 4    9.253311 -0.025803  5.494064  0.394653  0.154434 -0.179703
 ..        ...       ...       ...       ...       ...       ...
 372  0.050797  4.751602  1.994919  2.598175  0.841232 -1.741287
 373 -0.082504  4.751602  1.668808  2.642502  0.703445 -1.662247
 374 -0.289597  4.796829  1.392685  2.703918  0.591293 -1.585342
 375 -0.622849  4.887283  1.247482  2.770676  0.509583 -1.519119
 376 -0.913254  5.096756  1.259384  2.833160  0.460449 -1.465179

 [377 rows x 6 columns],
 'test2.txt':            Ax        Ay        Az        Wx        Wy        Wz
 0    1.790848  6.398819  6.736618 -0.002686  0.062576 -0.028030
 1    1.836075  6.401199  6.719955 -0.007492  0.057770 -0.025894
 2    1.788467  6.375015  6.727097 -0.006958  0.057770 -0.017349
 3    1.778946  6.360733  6.674728 -0.006958  0.053497 -0.007202
 4    1.817032  6.322647  6.658066 -0.001083  0.051361 -0.003464
 ..        ...       ...       ...       ...       ...       ...
 866  2.788223  1.688065 -1.999344 -0.247818 -0.074677 -0.629379
 867  2.640640  1.569046 -2.094559 -0.349823 -0.087494 -0.648605
 868  2.595413  1.554764 -1.944595 -0.444885 -0.097107 -0.668365
 869  2.504959  1.502396 -1.711319 -0.544220 -0.104050 -0.683319
 870  2.431168  1.528580 -1.639908 -0.645157 -0.099243 -0.700409

 [871 rows x 6 columns],
 'test3.txt':             Ax        Ay         Az        Wx        Wy        Wz
 0     5.930313  3.942276   7.710190  0.099319 -0.064529  0.028580
 1     5.827957  3.949417   7.755417  0.084900 -0.063461  0.031784
 2     5.761307  4.004166   7.812546  0.068878 -0.059723  0.032318
 3     5.739883  4.008926   7.748276  0.044846 -0.063461  0.029648
 4     5.628006  3.997025   7.684006  0.024017 -0.082153  0.032318
 ..         ...       ...        ...       ...       ...       ...
 843  10.598220 -4.510422  11.644940 -1.571213 -3.182358 -5.988113
 844  10.238790 -4.265244  11.625900 -1.383759 -3.146042 -5.865280
 845   9.948380 -4.012924  11.311690 -1.211792 -3.122543 -5.753128
 846   9.588943 -3.741562  10.880840 -1.042496 -3.112930 -5.651657
 847   9.315201 -3.548752  10.430950 -0.865189 -3.104919 -5.553925

 [848 rows x 6 columns],
 'test4.txt':            Ax        Ay        Az        Wx        Wy        Wz
 0    2.288345  8.857742  2.735214  0.054993  0.202499 -0.068085
 1    2.383560  8.864883  2.787582  0.066208  0.214249 -0.075562
 2    2.433548  8.898209  2.801865  0.072617  0.223328 -0.073959
 3    2.443069  8.955338  2.701889  0.080093  0.220123 -0.078766
 4    2.524002  8.931534  2.725693  0.085968  0.205704 -0.078766
 ..        ...       ...       ...       ...       ...       ...
 815  1.988419 -0.313828 -1.637527 -0.698029  0.907990  0.164764
 816  1.809891 -0.520920 -1.425674 -0.786148  0.950714  0.153015
 817  1.550430 -0.694687 -1.306656 -0.881744  0.983826  0.133789
 818  1.390945 -0.837509 -1.306656 -0.985352  1.017471  0.109756
 819  1.181473 -0.961288 -1.344742 -1.094299  1.044708  0.083054

 [820 rows x 6 columns],
 'test5.txt':             Ax         Ay        Az        Wx        Wy        Wz
 0    -4.714706   4.696854  6.067734 -0.121246 -0.180420  0.064362
 1    -4.676620   4.706375  6.108200 -0.114304 -0.183624  0.065964
 2    -4.690903   4.720657  6.165329 -0.107361 -0.186829  0.067032
 3    -4.683762   4.734940  6.170090 -0.099350 -0.185226  0.063828
 4    -4.612350   4.715897  6.262924 -0.097748 -0.187363  0.064362
 ..         ...        ...       ...       ...       ...       ...
 684 -22.146160 -22.029950 -8.035965 -6.335541 -0.624222 -2.585098
 685 -22.393720 -21.894270 -7.678909 -6.608444 -1.054672 -2.167999
 686 -22.655560 -21.913320 -7.312332 -6.767593 -1.301407 -1.988022
 687 -22.879320 -22.008530 -7.045731 -6.941162 -1.552948 -1.820328
 688 -23.095930 -21.994250 -6.526810 -7.129150 -1.796478 -1.672928

 [689 rows x 6 columns],
 'test6.txt':            Ax         Ay         Az        Wx        Wy        Wz
 0    3.668961   1.440506   9.126511  0.060333 -0.069870  0.020035
 1    3.673721   1.464310   9.102707  0.060867 -0.060791  0.022705
 2    3.697525   1.473831   9.121750  0.061401 -0.053848  0.021103
 3    3.683243   1.526199   9.119370  0.054459 -0.053314  0.024841
 4    3.666580   1.547623   9.155075  0.047516 -0.049576  0.026978
 ..        ...        ...        ...       ...       ...       ...
 873  5.130508 -13.282090  15.165510 -5.195862 -0.064529 -4.037201
 874  4.954361 -13.236860  15.270250 -4.999863 -0.121140 -4.212906
 875  5.111465 -13.791490  15.139330 -4.787308 -0.168137 -4.394485
 876  5.516129 -13.898610  14.625170 -4.560333 -0.216736 -4.572327
 877  5.506607 -13.834330  13.991990 -4.301315 -0.264267 -4.725601

 [878 rows x 6 columns],
 'test7.txt':            Ax         Ay        Az        Wx        Wy        Wz
 0    5.054337   1.709488  8.995590 -0.001083  0.010773  0.015228
 1    5.404251   1.200089  8.419540 -0.017639  0.038544 -0.005066
 2    5.423294   0.921585  8.236252 -0.024582  0.050293 -0.008804
 3    5.344742   1.059647  8.648056 -0.016571  0.057236 -0.000793
 4    5.385208   1.150101  8.469528 -0.018707  0.067383  0.010956
 ..        ...        ...       ...       ...       ...       ...
 757 -1.574997 -11.492050  0.233444  5.133881  0.225998 -2.434494
 758 -1.434555 -11.675340  0.666672  4.832138  0.388885 -2.705795
 759 -1.356003 -12.010970  1.076096  4.516510  0.572067 -2.977097
 760 -0.977524 -12.358500  1.354599  4.185394  0.764328 -3.244659
 761 -0.522873 -12.822680  1.426010  3.850540  0.958725 -3.498337

 [762 rows x 6 columns],
 'test8.txt':            Ax        Ay        Az        Wx        Wy        Wz
 0    2.171707  7.208145  6.034409  0.053925 -0.031418  0.081985
 1    2.147903  7.179581  6.079636  0.059265 -0.057587  0.091064
 2    2.105057  7.224808  6.058212  0.063004 -0.077347  0.096405
 3    2.069351  7.227188  5.953476  0.067276 -0.091766  0.100677
 4    2.057449  7.267654  6.005844  0.077957 -0.102448  0.099075
 ..        ...       ...       ...       ...       ...       ...
 830  3.340469  1.842789 -1.201920  0.943130 -0.109390 -0.301468
 831  3.271439  1.890396 -1.430435  0.739120 -0.106186 -0.315353
 832  3.197647  1.823746 -1.618484  0.645660 -0.116333 -0.318558
 833  3.159561  1.802322 -1.747025  0.550598 -0.138229 -0.322830
 834  3.140518  1.752335 -1.944595  0.460876 -0.159058 -0.321228

 [835 rows x 6 columns]}

In [8]:
def euclidean(A,B):
    return np.sqrt(np.sum((A - B)**2, axis=1))

In [9]:
def knn(data,centers):
    data=data.to_numpy(float)
    centers=centers.to_numpy(float)
    new = np.zeros((len(data)))
    for p in range(len(data)):
        new[p]=np.argmin(euclidean(data[p,:],centers))
         
    return new

In [10]:
ts_new = {}
for c in listdir(path):
    ts_new[c]=pd.DataFrame(knn(ts_data[c],centers),columns=['centers'])
    ts_new[c].to_csv(save+'/'+c+'.csv',index=False)